<div fxFlex fxLayout="row" fxLayoutAlign="center start" class="page">
  <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div><h1 class="mat-title">Registro de cliente</h1></div>
      <new-user-form></new-user-form>

      <button mat-raised-button color="primary">Registrarse</button>

      <p class="mat-body mat-small">¿Ya tienes una cuenta? Ingresa</p>
    </mat-card>
    <p class="mat-body mat-small">
      Todos los derechos reservados. FreeMarket 2020
    </p>
  </div>
</div>
